/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif, Arial;
}

body {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.app-wrapper {
    background: white;
    width: 90%;
    max-width: 450px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

header h1 {
    font-size: 24px;
    color: #1a1a1a;
}

header p {
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.input-section {
    display: flex;
    margin-bottom: 20px;
}

#todo-input {
    flex: 1;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px 0 0 8px;
    outline: none;
}

#add-btn {
    padding: 12px 20px;
    background-color: #4f46e5;
    color: white;
    border: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    font-weight: 600;
}

#add-btn:hover {
    background-color: #4338ca;
}

ul {
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #f0f0f0;
    transition: background 0.3s;
}

li:hover {
    background-color: #f9f9f9;
}

.task-text {
    cursor: pointer;
    flex: 1;
}

.completed {
    text-decoration: line-through;
    color: #aaa;
}

.delete-link {
    color: #ff4d4d;
    font-size: 13px;
    cursor: pointer;
    margin-left: 10px;
}

.delete-link:hover {
    text-decoration: underline;
}